<a href="https://colab.research.google.com/github/bobby360/Team-Go/blob/master/RecSys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
Load databases into Pandas dataframe

In [0]:
# Imports
import pandas as pd

import numpy as np

In [0]:
# Load Lucid data
raw_user = 'https://raw.githubusercontent.com/bobby360/Team-Go/master/users.csv'
users = pd.read_csv(raw_user)
users = users.sort_values('user_id')
users.head(10)

   user_id  ...                                          short_bio
0        1  ...            'Software Developer | DevOPs Engineer')
1        2  ...                                   'Web Developer')
2        3  ...   'Front End Developer | React Developer | Ment...
3        4  ...   '| Software Developer | DevOps Engineer | @li...
4        5  ...        'I Am lamar and you don\'t think am real?')
5        6  ...                                   'My Open Diary')
6        7  ...                                     'An engineer')
7        8  ...                       'Software Developer hotelsng
8        9  ...   'Front-end Engineer 💻 | FIFA advocate 🎮 |  Ni...
9       10  ...                                            'Here')

[10 rows x 12 columns]

In [0]:
# Load Lucid data
raw_following = 'https://raw.githubusercontent.com/bobby360/Team-Go/master/following.csv'
following = pd.read_csv(raw_following)
following = following.sort_values('follower_id')
following.head(10)

      my_id  follower_id status
2670      3            1     1)
4517    767            1     1)
2934    356            1     1)
3078      4            1     1)
2668      3            1     1)
4488    756            1     1)
4282    711            1     1)
1810    164            1     1)
4485    756            2     1)
4514    767            2     1)

In [0]:
# Load Lucid data
raw_posts = 'https://raw.githubusercontent.com/bobby360/Team-Go/master/posts.csv'
posts = pd.read_csv(raw_posts)
posts = posts.sort_values('post_id')
posts.head(10)

     post_id  ...                                          post_id.1
0          1  ...                                              NULL)
97         2  ...                          is the character encoding
285        4  ...                                               NULL
492        6  ...                              '2019-08-25 18:51:36'
595        7  ...                                               NULL
692        8  ...   emphasized text and bold tags respectively.¬†...
793        9  ...                                               NULL
13        11  ...                              '2019-08-25 18:57:59'
24        12  ...                                               NULL
35        13  ...                                               NULL

[10 rows x 12 columns]

In [0]:
# Load Lucid data
raw_notifications = 'https://raw.githubusercontent.com/bobby360/Team-Go/master/notifications.csv'
notifications = pd.read_csv(raw_notifications)
notifications = notifications.sort_values('sender_id')
notifications.head(10)

      id  post_id  ...              created_at               updated_at
0     (2     NULL  ...   '2019-08-26 08:48:21'   '2019-08-26 12:05:42')
1     (5     NULL  ...   '2019-08-26 10:32:46'   '2019-08-26 12:05:42')
2     (7      278  ...   '2019-08-26 14:13:17'   '2019-08-26 14:13:25')
3   (151      985  ...   '2019-08-30 10:29:21'   '2019-08-31 18:01:30')
4   (154      355  ...   '2019-08-31 17:21:21'   '2019-08-31 17:21:21')
5   (155      353  ...   '2019-08-31 17:21:24'   '2019-08-31 17:21:24')
6   (156      355  ...   '2019-08-31 17:21:51'   '2019-09-07 14:44:46')
7   (157      996  ...   '2019-08-31 17:44:12'   '2019-09-07 14:44:46')
8   (199      999  ...   '2019-09-07 14:44:58'   '2019-09-07 16:48:04')
17  (216      998  ...   '2019-09-07 16:33:27'   '2019-09-07 16:33:27')

[10 rows x 11 columns]

Merging Following and Users table for cross referencing, follow recommnendations will be in df1

In [0]:
following2 = following.copy()
users2 = users.copy()
df1 = pd.merge(following2, users2, on=None, left_on='my_id', right_on='user_id')
df1 = df1.sort_values('follower_id')
df1.head(10)
# (left, right, how='inner', on=None, left_on=None, right_on=None,
       #  left_index=False, right_index=False, sort=True,
        # suffixes=('_x', '_y'), copy=True, indicator=False,
         #validate=None)

     my_id  ...                                          short_bio
0        3  ...   'Front End Developer | React Developer | Ment...
53     711  ...                           'Prospective developer')
44     756  ...                                              NULL)
32       4  ...   '| Software Developer | DevOps Engineer | @li...
25     356  ...   'A budding software developer with big dreams...
18     767  ...   'Emmanuel Echa demonstrates over 10 years his...
139    164  ...                                         'Curious')
1        3  ...   'Front End Developer | React Developer | Ment...
19     767  ...   'Emmanuel Echa demonstrates over 10 years his...
45     756  ...                                              NULL)

[10 rows x 15 columns]

Merging Following, Notifications, and Posts table for cross referencing, article recommnendations will be in df3

In [0]:
#following3 = following.copy()
#notifications3 = notifications.copy()
#posts3 = posts.copy()
#df2 = pd.merge(following3, notifications3, on=None, left_on='my_id', right_on='sender_id')
#df3 = pd.merge(df2, posts3, on='post_id')
#df3 = df1.sort_values('post_id')
#df3.head(10)

In [0]:
df1.columns

Index(['my_id', 'follower_id', 'status', 'user_id', ' name', 'username',
       'email', 'image', 'provider', 'provider_id', 'password',
       'remember_token', 'created_at', ' updated_at', 'short_bio'],
      dtype='object')

Defining function for returning recommendations on who to follow

In [0]:
indices = pd.Series(df1.index, index=df1['follower_id'])


def get_rec(follower_id):
  idx = indices[follower_id]
  friend_rec = list(enumerate(idx))
  friend_rec = sorted(friend_rec)
  #friend_rec = friend_rec[0:15]
  rec_indices = [i[0] for i in friend_rec]
  return df1[' name'].iloc[rec_indices].drop_duplicates()
# idx = indices.[follower_id]
# idx_check = 
# movie_indices = [i[0] for i in sim_scores]

# friend_rec = [i[0] for i in follower_id]

In [136]:
get_rec(7)

0                    'Jeffrey Ogah'
53        'Amadi Onengiye Williams'
44                       'Dennis O'
32          'Oluwaseyi Oluwapelumi'
25               'Stephen Robinson'
18                  'Echa Emmanuel'
139              'Declan Chukwurah'
193        'Kayode Gabriel Abiodun'
185                  'Edmund Ekott'
184            'okechukwu onwuorah'
177                   'Qudus Ahmod'
173                       'Incolet'
169                   'Mark Essien'
155                    'adaugo oku'
292                 'Durowade Najm'
291                  'Chinaza Ugwu'
799              'Oladimeji Daniel'
796               'Gabriel Uzowulu'
787             'Tega Pius Alenkhe'
786          'Abdulmalik Zuwailani'
782             'Monsuru Anifowose'
779             'Emmanuel Agharaye'
293                     'Amos Imoh'
405                   'Arinde John'
759                     'Kay Chuka'
770              'Chibundu Kelechi'
766                   'Joseph Etim'
305                'Wisdom Anthony'
306                 'Cynthia Peter'
311              'Michael Oyeledun'
                   ...
679                 'Ntekim Jotham'
678                 'Adebayo Shola'
677                 'adeniyi azeez'
342                'Yemisi Oyedepo'
676             'Jimoh Tajuddeen T'
671               'Mahmud Adekunle'
663                         'Uloma'
661                 'Joshua Erondu'
644             'Ifeoluwa Asiyanbi'
635            'Bisola Morohunfolu'
352                   'Jennifer CU'
353     'Owaji-inyagham Ogbuluijah'
354                 'folarin kamar'
629        'CHUKWUEBUKA ANYADIEGWU'
625                 'Bindas Samuel'
619                         'Nma O'
586                    'Rita Nzere'
575           'Okiki Joshua Mayowa'
574             '\'Damilola Taylor'
573                         'Leo X'
327                 'Adenike Salau'
682                'UYO-OBONG OKON'
204                'folarin ayoola'
424                 'Jennifer Imeh'
833                   'Lucid Lucid'
820               'Aderoju Olaitan'
847                'Eniola Olowoyo'
834            'Babatunde Damilare'
846               'Charles Oloyede'
893                      'Oma Ucha'
Name:  name, Length: 128, dtype: object